<!-- subheader -->
<section id="subheader" class="subh-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Settings</h1>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->
<br>
<br>
<div class="container">
 <div class="row">
  
  <div class="col-md-10 col-md-offset-1">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

    <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">Settings</h3> 
        </div>
        <div class="panel-body">

    <div class='row'>
      <div class='col-md-4'>
        <%= image_tag resource.avatar.url(:thumb), class: 'media-object img-circle' %>
       <br>
        <%= f.file_field :avatar  %>
      </div>
      
      <div class='col-md-8'>

        <div class="form-group">
          <%= f.label :name, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
        </div>


        <div class="form-group">
           <%= f.label :phone_number, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :phone_number, class: "form-control" %>
            </div>
        </div>
      
        <div class="form-group">
           <%= f.label :email, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.email_field :email, class: "form-control" %>
            </div>
        </div>
      
        <div class="form-group">
          <%= f.label :password, class: "col-sm-4 control-label"%> <i>(leave blank if you don't want to change it)</i>
            <div class="col-sm-8">
             <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
        </div>
     
        <div class="form-group">
           <%= f.label :password_confirmation, class: "col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
            </div>
        </div>

        <div class="form-group">
          <%= f.label :current_password, class: "col-sm-4 control-label"%> <i>(we need your current password to confirm your changes)</i>
            <div class="col-sm-8">
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>
        </div>

        <div class="panel-footer">
         <!--  <div class="actions"> -->
            <%= f.submit "Save", class: 'btn btn-default' %>
         <!--  </div> -->
        </div>
    
      </div>
   </div>
    </div>
   </div> 

  <% end %>
   
   </div>
  </div>
 </div>

<br>
<br>

<div class="container">
 <div class="row">
  <div class="col-md-10 col-md-offset-1">

<h3><a name="bookings"></a>BOOKINGS</h3>

<% if notice %>
<div class="alert alert-success" role="alert">
  <%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger" role="alert">
  <%= alert %>
</div>
<% end %>


  <table class="table table-hover table-striped table-bordered"> 
    <thead> 
      <tr> 
         
        <th>Date</th> 
        <th>Time</th> 
        <th>Massage Type</th> 
        <th>Status</th> 
      </tr> 
    </thead>
    <tbody> 
    <% resource.bookings.each do |booking| %>

     <tr> 
      
       <td><%= booking.date.strftime("%d/%m/%Y") %></td>
       <td><%= booking.time %></td> 
       <td><%= booking.massage_type %></td> 
       <td><%= status_label(booking.status) %></td>
     </tr>
      <% end %> 
  </tbody>
</table>

</div>
</div>
</div>




