<!-- subheader -->
  <section id="subheader" class="subh-center" >
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                 <br>
                 <br>
                 <br>
                  <h4>Users</h4>
              </div>
          </div>
      </div>
  </section>
  <!-- subheader close -->

<%= render "menu" %>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">


<table class="table table-hover table-striped table-bordered"> 
    <thead> 
      <tr> 
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th> 
        <th>Phone Number</th> 
        <th>Bookings</th> 
        <th></th> 
      </tr> 
    </thead>
    <tbody> 
    <% @users.each do |user| %>

     <tr> 
       <td><%= image_tag user.avatar.url(:thumb), class: 'img-circle' %></td>
       <td><%= user.name %></td>
       <td><%= user.email %></td>
       <td><%= user.phone_number %></td> 
       <td><%= user.bookings.size %></td> 
       <td><%= link_to("Destroy", destroy_user_path(user.id) , class: 'btn btn-danger btn-xs', method: :delete) %></td>

       
     </tr>
      <% end %> 
  </tbody>
</table>


</div>
</div>
</div>

